body {
    background-image: url(img/fondo_recu.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#formulario {
    margin-top: 10px;
}

#base_restablecer {
    background-color: rgba(246, 246, 246, 0.88);
    width: 30%;
    border-radius: 15px;
    text-align: center;
    padding: 25px;
}

.imput_contrasena {
    background-color: #d9d9d9;
    height: 2.1em;
    border-radius: 15px;
    padding-left: 10px;
    border: none;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 12px;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

input {
    border: none;
    width: 70%;
}

button {
    background-color: grey;
    color: white;
    border-radius: 15px;
    width: 40%;
    height: 30px;
    margin-top: 20px;
}

button:hover {
    background-color: white;
    color: grey;
    border: 10px;
}